<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8"/>
    <title>Ukulele Tuner</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎼</text></svg>">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="ukulele-tuner">
      <h1>Ukulele Tuner</h1>
      <div class="labels">
        <span class="g-string">G</span>
        <span class="c-string">C</span>
        <span class="e-string">E</span>
        <span class="a-string">A</span>
      </div>
      <div class="uke">
        <button
          v-for="(string, name) in strings"
          class="section"
          @mousedown="pluckString($event)"
          @mouseenter="pluckString($event)"
          :id="name"
          :value="name"
        >
          <div v-for="(fret, index) in string" :id="`${name}${index}`" class="fret">
            <div :class="`string ${name}-string`"></div>
          </div>
        </button>
      </div>
      <select @change="setChord($event)">
        <option value="none">No chord</option>
        <option value="c">C chord</option>
        <option value="f">F chord</option>
        <option value="g">G chord</option>
      </select>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="scripts.js"></script>
  </body>
</html>
