body {
  margin: 0;
}

#ukulele-tuner {
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.labels {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2px;
}

.uke {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eee;
  box-shadow: 0 0 5px grey;
}

.section {
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.section * {
  pointer-events: none;
}

.fret {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid darkgrey;
  position: relative;
}

.string {
  width: 5px;
  height: 50px;
}

.g-string {
  background-color: orange;
}

.c-string {
  background-color: deepskyblue;
}

.e-string {
  background-color: lime;
}

.a-string {
  background-color: red;
}

select {
  width: 200px;
}

.finger {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 10px;
  left: 10px;
}
